@import url('https://fonts.googleapis.com/css?family=Roboto|Open+Sans');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

:root {
    --menubar-color: #212121;
    --menubar-text-color: white;
    --simple-button-text-color: #03A9F4;
    --important-button-color: rgb(33, 33, 33);
    --important-button-text-color: white;
    --icon-button-color: rgb(33, 33, 33);
    --icon-button-text-color: white;
    --loader-1-color: #3498db;
    --loader-1-size: 120px;
    --loader-2-color: #212121;
    --loader-2-size: 200px;
    --input-color: #2196F3;
}


* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

@keyframes slide {
    from {left : -300px;}
    to {left: 0px;}
}

@keyframes unslide {
    from {left : 0;}
    to {left: -300px;}
}


.smd-sidebar {
    position: fixed;
    background-color: var(--menubar-color);
    width: 100%;
    height: 50px;
    line-height: 1;
    z-index: 99;
}

.smd-menu-button {
    height: 24px;
    padding: 13px;
    display: inline-block;
    color: var(--menubar-text-color);
    cursor: pointer;

    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;

}

.smd-menu-title {
    color: var(--menubar-text-color);
    font-family: 'Roboto', sans-serif;
    font-size: 2em;
    text-align: center;
    display: inline-block;
    margin-left: 2%;
}

.smd-menu {
    width: 300px;
    height: 100%;
    background-color: white;
    position: fixed;
    top: 0px;
    left: -300px;
    z-index: 100
    
}

.smd-menu-fond {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: rgba(129, 126, 122, 0.47);
    display: none;
}

.smd-menu ul {
    margin: 50px;
    list-style-type: none;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
}

.smd-menu li a, .smd-menu ul a{
    color: black;
    text-decoration: none;
}

.smd-menu li a:hover, .smd-menu ul a:hover{
    transition: 0.1s ease-in;
    color: rgba(0, 0, 0, 0.70);
}

.smd-slide {
    animation: slide 0.4s 1 forwards;
}

.smd-unslide {
    animation: unslide 0.4s 1 forwards;
}

a:focus, a:active, 
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
select::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
    border: 0;
    outline : 0;
}

.smd-simple-button {
    color: var(--simple-button-text-color);
    background-color: rgb(255, 255, 255);
    padding: 7px 16px;
    border-radius: 3px;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    border: none;
    outline: none;
    cursor: pointer;
    outline: none;
    cursor: pointer;
    font-weight: 600;
    letter-spacing: 0.04em;
    transition: 0.2s;
}

.smd-simple-button:hover {
    background-color: rgba(167, 167, 167, 0.39);
}

.smd-simple-button:active {
    background-color: rgba(167, 167, 167, 0.52);
}

.smd-important-button {
    color: var(--important-button-text-color);
    background-color:  var(--important-button-color);
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    box-shadow: 6px 7px 20px 0px rgba(0, 0, 0, 0.26);
    transition: 200ms;
    padding: 7px 16px;
    border-radius: 3px;
    border: none;
    outline: none;
    cursor: pointer;
    font-weight: bold;
    letter-spacing: 0.04em;
}

.smd-important-button:hover {
    opacity: 0.82;
    box-shadow: 6px 7px 25px 0px rgba(0, 0, 0, 0.28);
}

.smd-important-button:active {
    opacity: 0.85;
    box-shadow: 5px 6px 10px 0px rgba(0, 0, 0, 0.3);
    transform: scale(0.99);
}

.smd-icon-button {
    color: var(--icon-button-text-color);
    background-color:  var(--icon-button-color);
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    box-shadow: 6px 7px 20px 0px rgba(0, 0, 0, 0.26);
    transition: 200ms;
    border-radius: 27px;
    width: 54px;
    height: 54px;
    border: none;
    outline: none;
    cursor: pointer;
    font-weight: 500;
    letter-spacing: 0.04em;
}

.smd-icon-button:hover {
    box-shadow: 6px 7px 25px 0px rgba(0, 0, 0, 0.28);
    opacity: 0.82;
}

.smd-icon-button:active {
    box-shadow: 5px 6px 10px 0px rgba(0, 0, 0, 0.3);
    opacity: 0.85;
    transform: scale(0.97);
}

.smd-loader-1 {
    border: 6px solid #f3f3f3; 
    border-top: 6px solid var(--loader-1-color);
    border-radius: 50%;
    width: var(--loader-1-size);
    height: var(--loader-1-size);
    animation: spin 1.4s cubic-bezier(.02,.48,.61,.15) infinite;
    margin: 25px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes loading {
    0% { width: 0%; }
    100% { width: 100% }
}

.smd-loader-2 {
    width: var(--loader-2-size);
    height: 6px;
    margin: 25px;
}

.smd-loader-2-bar {
    width: 0%;
    height: 6px;
    background-color: var(--loader-2-color);
    animation: loading 5s cubic-bezier(.02,.48,.61,.15) infinite;
}

.smd-input {
    font-family: 'Roboto', sans-serif;
    transition: all 0.3s ease-in-out;
}

.smd-input {
    font-size: 1em;
    margin: 10px 25px;
    width: 200px;
    display: block;
    border: none;
    padding: 10px 0;
    padding-top: 20px; 
    border-bottom: solid 1px var(--input-color);
    transition: all 0.3s cubic-bezier(.64,.09,.08,1);
    background: linear-gradient(to bottom, rgba(255,255,255,0) 96%, var(--input-color) 4%);
    background-position: -200px 0;
    background-size: 200px 100%;
    background-repeat: no-repeat;
}

.smd-input:focus {
    box-shadow: none;
    outline: none;
    background-position: 0 0;
}

.smd-input:valid {
    transition: 0s;
    border-bottom-color: #8BC34A;
    background: linear-gradient(to bottom, rgba(255,255,255,0) 96%, #8BC34A 4%);
}

.smd-input:invalid {
    box-shadow: none;
}


.smd-input::placeholder {
    color: gray;
    font-size: 11px;
    visibility: visible !important;
    transition: 0.2s;
}

.smd-input::-moz-placeholder {
    color: gray;
    font-size: 11px;
    visibility: visible !important;
    transition: 0.2s;
}

.smd-input:-ms-input-placeholder {
    color: gray;
    font-size: 11px;
    visibility: visible !important;
    transition: 0.2s;
}

.smd-input:focus::placeholder {
    transform: translateY(-20px);
    color: var(--input-color);
}

.smd-input:focus::-moz-placeholder {
    transform: translateY(-20px);
    color: var(--input-color);
}

.smd-input:focus:-ms-input-placeholder {
    transform: translateY(-20px);
    color: var(--input-color);
}

.smd-important-title {
    font-family: 'Open Sans', sans-serif;
    margin: 15px;
    margin-top: 30px; 
    font-size: 1.8em;
    margin-left: 2%;
}

.smd-title {
    font-family: 'Open Sans', sans-serif;
    margin: 15px;
    margin-top: 30px;  
}

.smd-text {
    font-family: 'Roboto', monospace;
}